@import '../../resources/vars.scss';

.productDetails {
  display: flex;
  flex-direction: column;
}

.colorLabel {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.textLabel {
  font-weight: bold;
}

.optionSelectorLabel {
  margin-right: 1.5rem;
}

.optionsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0;
}

input[type=radio] {
  opacity: 0;
  position: absolute;

  &:checked + .selectableOption {
    background-color: #ccc;
  }
}

.selectableOption {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 0.7rem;
  border-radius: 1.5rem;
  color: #000;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  flex-direction: row;

  .button {
    display: inline-block;
    min-width: 9rem;
    padding: 0.4rem 0;
    margin: 0 0.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    background-color: $shop-default-green;
    cursor: pointer;
    border: none;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  }
}
